@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #fff;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width:767px){
    .page-one{
        background:#008FFF;
        width: 100%;
        height: 100vh;
      }

      .page-one > header{
        padding: 20px;
      }
      
      .page-one > header > nav{
        display: none;
      }

      .page-one > header > .help_buttons_group{
        display: none;
      }

      .button_menu{
        display: block;
      }

      .Text-img{
        display: flex;
        flex-direction: column;
      }

      .Sua-busca-pela{
        width: 400px;
        height: 500px;
        position: relative;
        top: 0;
        left: 0;
        font-weight: 500;
        color: #fff;
        padding: 10px;
        }

        .text-content{
            line-height: 40px;
        }

        #text{
            font-size: 30px;
            height: 0;
        }

        .Bus-sym-loc{
           margin-top: -20px;
         }

        .Bus-sym-loc input{
            width: 76%;
          }

          .paper-map-cuate-6-2{
            position:relative;
            top: -26em;
            left: 4.5rem;
            width: 250px;
            height: 250px;
          }
/*######################################################################################################################*/
/*-----------------------------------------------Segunda Secção---------------------------------------------------------*/

.page-two{
    margin-top: 30px;
    background:#fff;
    width: 100%;
    height: 100vh;
  }

  .page-two > span {
    width: 350px;
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font-poppins);
    color: #008fff;
    height: 221px;
    text-align: center;
  }

  .Business-solution-cuate{
    display: none;
  }

  .com-h{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    gap: 30px;
    position: relative;
    top: -3rem;
  }
  
  .com-h > span{
    width: 364px;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #008FFF;
    text-align: center;
  }

  .A-u, .C-n, .F-t > div > span{
    font-size: 12px;
    color:#757575;
  }

  .btn-liste{
    margin: auto;
    width: 90%;
    padding: 18px 40px;
    border: none;
    border-radius: 10px;
    background-color: #0056b3;
    color: #fff;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
  }
  
  
}




